<nav>
  <div class="nav-wrapper teal darken-3">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/index">Inicio</a></li>
      <li *ngIf="activeSession"><a routerLink="/admin/get">Usuarios</a></li>
      <li *ngIf="activeSession"><a routerLink="/collections/get">Encomiendas</a></li>
      <li *ngIf="activeSession"><a routerLink="/clients/get">Clientes</a></li>
      <li *ngIf="activeSession"><a routerLink="/services/get">Servicios</a></li>
      <li *ngIf="!activeSession"><a routerLink="/security/login">Login</a></li>
      <li *ngIf="activeSession"><a routerLink="/security/logout">Logout</a></li>
    </ul>
  </div>
</nav>
